<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>好好投資科技</title>
<style type="text/css">
<!--
.style1 {
	font-family: "微軟正黑體";
	font-size: xx-large;
	color: #FF6600;
	font-weight: bold;
}
.style3 {
	font-size: 14pt
}

.style2 {
	font-family: "微軟正黑體";
	font-size: xx-large;
	color: #FF6600;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<p></p><br>
<p class="style1" align="center"><a><img src="images/1.png" width="104" height="104" alt=""></a></p>
<p class="style1" align="center"><a><img src="images/web_construction.png" height="335" width="927"></a></p>
<p class="style2" align="center">網站維護中</p>
<div align="center">
  <p class="style3">E-Mail: <a href="mailto:service@howfintech.com ">service@howfintech.com </a></p>
</div>
</body></html>
